/* Atributos de HTML */

/* Animaciones */

@keyframes arriba{
    from{
        transform: translateY(0px);

    }

    to{
        transform: translateY(5px);
    }
}

.titulo{
    animation: arriba;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

a{
    animation: arriba2;
    animation-duration: 95ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes arriba2{
    from{
        transform: translateY(-2-px);
        transform: translate3d(-2-px);

    }

    to{
        transform: translateY(5px);
        transform: translate3d(5px);
    }
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    cursor: url(https://raulquevedo24.github.io/PRO/img/tierra.png), auto;
}

a{
    cursor: url(https://raulquevedo24.github.io/PRO/img/fuego.png), auto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header{
    position: relative;
    left: 300px;
}

nav{
    position: relative;
    width: 783px;
    height: 50px;
    background: #0b420e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DynaPuff", system-ui;
    
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 1.04em;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 0 35px;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background: linear-gradient(45deg, #0c2504, green);
    border-radius: 8px;
    transition: .5s;
}

nav a:nth-child(1):hover~span{
    left: 0;
}

nav a:nth-child(2):hover~span{
    left: 135px;
}

nav a:nth-child(3):hover~span{
    left: 265px;
}
nav a:nth-child(4):hover~span{
    left: 445px;
}
nav a:nth-child(5):hover~span{
    left: 630px;
}



img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1.5px solid rgb(0, 0, 0); 
    cursor: url(https://raulquevedo24.github.io/PRO/img/fuego.png), auto;
}

img:hover{
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/* FIN DE LOS ATRIBUTOS HTML */


.titulo{
    height: 50px;
    width: 900px;
    text-align: center;
    font-size: 30px;
    border: 2.5px solid green;
    text-shadow: rgb(24, 1, 1) 4px 0 8px;
    background-color: #0c2504;
    background-image: url(/img/top.gif);
    font-family: "DynaPuff", system-ui;
    color: #fff;
    
    
}

.caja-tex{
    display: flex;
    position: relative;
    left: 200px;
}

.titulo:hover{
    text-shadow: rgb(18, 230, 67) 2px 0 5px;
    cursor: pointer;
    cursor: url(https://raulquevedo24.github.io/PRO/img/fuego.png), auto;
}

.contenedor{
    height: 460px;
    width: 1300px;
    display: flex;
    display: flexbox;
    background-repeat: no-repeat;
    background-size: 850px 460px;
}

.separador{
    width: 1366px;
    height: 20px;
    background-color: #2ed64a;
}




/* Este cuadro es el de la izauierda*/

.cuadro-izq{
    cursor: pointer;
    border: 10px solid transparent;
    text-align: center;
    background-color: rgba(20, 78, 2, 0.726);
    height: 450px;
    width: 1200px;
 }

.cuadro-izq p{
    font-size: 19.9px;
    display: flex;
    text-align: justify;
    padding: 10px;
    color: white;
    text-shadow: black 5px 0 5px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    
}

.cuadro-izq:hover{
    box-shadow: -10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: url(https://raulquevedo24.github.io/PRO/img/fuego.png), auto;
}

.gra{
    border-image: linear-gradient(to right, #2ed64a, #245416) 1;

}



/* Aqui termina el cuadro de la izquierda */


/* cuadro de la derecha */

.cuadro-position{
    background-color: #7c9e721f;
    height: 470px;
    display:flexbox;
    
}

.derecha-img{
    width: 450px;
    height: 250px;
    text-align: center;
    position: relative;
    top: 10px;
    right: 10px;
    
}

.cuadro-derecha-tex{
    height: 150px;
    width: 300px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #2ed64a, #245416) 1; 
    position: relative;
    left: 70px;
    top: 60px;
    
}

.cuadro-derecha-tex:hover{
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.texto{
    height: 150px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(29, 117, 3, 0.404);
    font-family: "Lilita One", sans-serif;
    color: white;
    text-shadow: rgb(24, 1, 1) 4px 0 8px;
}
/* Cuadro de la derecha finalizado */

/* Footer */
.footer{
    width: 1366px;
    height: 200px;
    background-color: rgb(6, 85, 6);
}

.footer:hover{
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    cursor: url(https://raulquevedo24.github.io/PRO/img/fuego.png), auto;
}

.pantalla{
    background-image:url(https://raulquevedo24.github.io/PRO/img/fondo.gif);
}


